__pycache__/
.ipynb_checkpoints/
.DS_Store

.env
*.log

data/raw/images/*
!data/raw/images/.gitkeep

outputs/figures/*
!outputs/figures/.gitkeep

outputs/tables/*
!outputs/tables/.gitkeep

data/raw/pm25/downloads_milano/*